.art_ascii {
    font-size: 15px;
}

.content_about_text {
    max-width: 45ch;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}
