h2 {
    font-size: 17px;
    text-align: center;
}
.art_ascii {
    font-size: 15px;
    color: #b16286;
}

.content_about_text {
    max-width: 42ch;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.content_stack_text {
    max-width: 42ch;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.content_positions_text {
    max-width: 42ch;
    overflow-wrap: break-word;
    white-space: pre-line;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}
